@page
@model IndexModel
@{
    ViewData["Title"] = "پروفایل";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="mb-3">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <partial name="_StatusMessage" for="StatusMessage" />
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger small" role="alert"></div>

                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" placeholder="نام کاربری (ایمیل)" disabled />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fas fa-user fa-fw"></i></span>
                        <div class="form-floating flex-grow-1">
                            <input asp-for="Input.DisplayName" class="form-control" placeholder="نام نمایشی" />
                            <label asp-for="Input.DisplayName" class="form-label"></label>
                        </div>
                    </div>
                    <span asp-validation-for="Input.DisplayName" class="text-danger small"></span>

                    <div class="input-group mb-3 mt-3">
                        <span class="input-group-text"><i class="fas fa-phone fa-fw"></i></span>
                        <div class="form-floating flex-grow-1">
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="شماره تلفن" />
                            <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        </div>
                    </div>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger small"></span>

                    <button id="update-profile-button" type="submit" class="btn btn-primary mt-3">
                        <i class="fas fa-save me-2"></i> ذخیره
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}